.add-option-error {
    color: $off-white;
    font-style: italic;
    margin: $n-size 0 0 0;
    padding: 0 $n-size;
}

.add-option {
    display: flex;
    padding: $n-size;
}

.add-option__input {
    background: $blue;
    border: none;
    color: $off-white;
    border-bottom: .3rem solid darken($blue, 10%);
    flex-grow: 1;
    margin-right: $s-size;
    padding: $s-size;
}